*.out
*.npz
.idea*
*.pyc
*.pth
# *.json
*.pickle
*.DS_Store
/tex/*
/__pycache__/
/src/data/__pycache__/
src/data/__pycache__/
/BH/__pycache__/
BH/__pycache__/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
